@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html,body {
    height: 100vh;
    width: 100vw;    
    background-color: black;
}
body {
    background: url(../imagens/fundo\ de\ concreto.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

}
main {
    height: 100vh;
    height: 100vh;
    position: relative;

}
section#tel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 565px;
    width: 280px;
    background: url(../imagens/Samsung.png) no-repeat;    

}iframe#tela {
    position: relative;
    top: 62px;
    left: 14px;
    width: 251px;
    height: 443px;
}
section#socialbuttom {
    text-align: center;
    transition: flex 0.5s ease;
    background-size: cover;
    background-position: center;
}
section#socialbuttom img {
    width: 30px;
    margin: 2px;
    border-radius: 50%;
    box-sizing: border-box;
}
section#socialbuttom img:hover {
    transform: translate( -2px, -2px);
    border: 2px solid gray;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.637);
    transition: trasform .05s, border 0.2s;
}
iframe#frame {
    width: 251px;
    height: 443px;
}
